<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>회원가입</title>


    <th:block th:replace="fragments/bootstrap5"></th:block>
    <script type="text/javascript">
        $(document).ready(function(){
           $("#submit").click(function (){sendForm()})



        });

        function sendForm() {

            $.ajax({
                type: 'post'
                , async: true
                , url: 'users'
                , data: JSON.stringify({				//JSON.stringify()로 데이터를 감싸줍니다.
                    userId:$("#userId").val(),
                    name:$("#name").val(),
                    password:$("#password").val()
                })
                ,dataType : "json"
                ,contentType: "application/json; charset=utf-8"
                , beforeSend: function() {
                }
                , success: function (ajaxData, status, request) {
                    alert("가입되었습니다.");
                    location.href='/view/';
                }
                , error: function(request, status, err) {
                    //console.error("error forward : "+data);
                    callbackAjaxError(null, status, request, err); //error
                }
                , complete: function(request, status) {
                    displayWaitOff();
                }
            });
        }


    </script>


</head>
<body >
<th:block th:replace="fragments/header"></th:block>

<main>
    <div class="container py-5">
        <form id="registerUser" name="registerUser">
            <div class="form-group">
                <label class="col-form-label col-form-label-lg mt-4" >회원 가입</label>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="userId" name="userId" placeholder="userId">
                    <label for="userId">Id</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="백창훈">
                    <label for="name">Name</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <button id="submit" type="button" class="btn btn-primary">Submit</button>

            </div>
        </form>
    </div>

</main>
<th:block th:replace ="fragments/footer"></th:block>
</body>
</html>