<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<script>
    function initNavigator(){
        $("#btnLogin").click(function (){login();});
        $("#btnSignUp").click(function (){signUp();});

    }

    function login() {
        let userData = {
            userId:$("#loginForm [name='userId']").val(),
            password:$("#loginForm [name='password']").val(),
        };

        $.ajax({
            type: 'post'
            , async: true
            , url: '/user-service/login'
            , data: JSON.stringify(userData)//JSON.stringify()로 데이터를 감싸줍니다.
            ,dataType : "json"
            ,contentType: "application/json; charset=utf-8"
            , beforeSend: function() {
            }
            , success: function (ajaxData, status, request) {
                alert("로그인 성공");
                console.log(ajaxData);
            }
            , error: function(request, status, err) {
                console.log(status,request,err);

            }
            , complete: function(request, status) {

            }
        });

    }

    function signUp() {
        let userData = {
            userId:$("#registerUserForm [name='userId']").val(),
            name:$("#registerUserForm [name='name']").val(),
            password:$("#registerUserForm [name='password']").val(),
        };

        $.ajax({
            type: 'post'
            , async: true
            , url: '/user-service/users'
            , data: JSON.stringify(userData)//JSON.stringify()로 데이터를 감싸줍니다.
            ,dataType : "json"
            ,contentType: "application/json; charset=utf-8"
            , beforeSend: function() {
            }
            , success: function (ajaxData, status, request) {
                alert("가입되었습니다.");
                console.log(ajaxData);
            }
            , error: function(request, status, err) {
                console.log(status,request,err);

            }
            , complete: function(request, status) {

            }
        });
    }
</script>

<div class="top-bar py-2" id="topBar" style="background: #555">
    <div class="container px-lg-0 text-light py-1">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 d-md-block d-none">
                <p class="mb-0 text-xs">Contact us on +420 777 555 333 or hello@universal.com.</p>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-md-end justify-content-between">
                    <ul class="list-inline d-block d-md-none mb-0">
                        <li class="list-inline-item"><a class="text-xs" href="#"><i class="fa fa-phone"></i></a></li>
                        <li class="list-inline-item"><a class="text-xs" href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a class="text-xs text-uppercase fw-bold text-reset" href="#" data-bs-toggle="modal" data-bs-target="#login-modal"><i class="fas fa-door-open me-2"></i><span class="d-none d-md-inline-block">Sign In</span></a></li>
                        <li class="list-inline-item"><a class="text-xs text-uppercase fw-bold text-reset" href="#" data-bs-toggle="modal" data-bs-target="#register-modal"><i class="fas fa-user me-2"></i><span class="d-none d-md-inline-block">Sign Up</span></a></li>
                    </ul>
                    <ul class="list-inline mb-0 ms-lg-4">
                        <li class="list-inline-item text-gray-600 m-0"><a class="text-xs social-link-hover" href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item text-gray-600 m-0"><a class="text-xs social-link-hover" href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item text-gray-600 m-0"><a class="text-xs social-link-hover" href="#" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="list-inline-item text-gray-600 m-0"><a class="text-xs social-link-hover" href="#" title="Email"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top bar end-->
<!-- Login Modal-->
<div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase" id="login-modalLabel">Customer Login</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="loginForm" name="loginForm">
                    <div class="form-group mb-3">
                        <input class="form-control" name="userId" type="text" placeholder="ID">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" name="password" type="password" placeholder="Password">
                    </div>
                    <p class="text-center">
                        <button class="btn btn-outline-primary" id="btnLogin"><i class="fas fa-door-open"></i> Log in</button>
                    </p>
                </form>

                <p class="text-center text-muted small">Not registered yet?</p>
                <p class="text-center text-muted small"><a href="customer-register.html"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
            </div>
        </div>
    </div>
</div>
<!-- Login modal end-->
<!-- register Modal-->
<div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="register-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase" id="register-modalLabel">회원가입</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="registerUserForm" name="registerUserForm">
                    <div class="form-group mb-3">
                        <input class="form-control" name="userId" type="text" placeholder="user id">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" name="name" type="text" placeholder="name">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" name="password" type="password" placeholder="password">
                    </div>
                    <p class="text-center">
                        <button type="button" class="btn btn-outline-primary" id="btnSignUp"><i class="fas fa-door-open"></i> 회원가입</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- register modal end-->
<!-- Navbar Sticky-->
<header class="nav-holder make-sticky">
    <div class="navbar navbar-light bg-white navbar-expand-lg py-0" id="navbar">
        <div class="container py-3 py-lg-0 px-lg-0">
            <!-- Navbar brand--><a class="navbar-brand" href="index.html"><img class="d-none d-md-inline-block" src="img/logo.png" alt="Universal logo"><img class="d-inline-block d-md-none" src="img/logo-small.png" alt="Universal logo"><span class="sr-only">Universal - go to homepage</span></a>
            <!-- Navbar toggler-->
            <button class="navbar-toggler text-primary border-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navigationCollapse" aria-controls="navigationCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="sr-only">Toggle navigation</span><i class="fas fa-align-justify"></i></button>
            <!-- Collapsed Navigation    -->
            <div class="collapse navbar-collapse" id="navigationCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- homepage dropdown-->
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="hpDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                        <ul class="dropdown-menu" aria-labelledby="hpDropdown">
                            <li><a class="dropdown-item text-uppercase border-bottom" href="index.html">Option 1: Default Page </a></li>
                            <li><a class="dropdown-item text-uppercase border-bottom" href="index2.html">Option 2: Application </a></li>
                            <li><a class="dropdown-item text-uppercase border-bottom" href="index3.html">Option 3: Startup </a></li>
                            <li><a class="dropdown-item text-uppercase border-bottom" href="index4.html">Option 4: Agency </a></li>
                            <!-- homepage submenu-->
                            <li class="dropdown-submenu dropend border-0 p-0"><a class="dropdown-item text-uppercase dropdown-submenu-toggle" href="#" role="button" aria-expanded="false">Dropdown link</a>
                                <ul class="dropdown-menu dropdown-submenu m-0">
                                    <li><a class="dropdown-item text-uppercase border-bottom" href="">Action </a></li>
                                    <li><a class="dropdown-item text-uppercase border-bottom" href="">Another action </a></li>
                                    <li><a class="dropdown-item text-uppercase border-bottom" href="">Application </a></li>
                                    <li><a class="dropdown-item text-uppercase border-bottom" href="">Something else here </a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- megamenu [features]-->
                    <li class="nav-item dropdown menu-large"><a class="nav-link dropdown-toggle" id="featuresMegamenu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Features</a>
                        <ul class="dropdown-menu megamenu p-4" aria-labelledby="featuresMegamenu">
                            <li>
                                <div class="row">
                                    <div class="col-lg-6"><img class="img-fluid d-none d-lg-block" src="img/template-easy-customize.png" alt=""></div>
                                    <div class="col-lg-3 col-md-6">
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Shortcodes</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="template-accordions.html">Accordions</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="template-alerts.html">Alerts</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="template-buttons.html">Buttons</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="template-content-boxes.html">Content boxes</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="template-blocks.html">Horizontal blocks</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="template-pagination.html">Pagination</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="template-tabs.html">Tabs</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="template-typography.html">Typography</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Header variations</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="template-header-default.html">Default sticky header</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="template-header-nosticky.html">No sticky header</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="template-header-light.html">Light header</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- megamenu [portfolio]-->
                    <li class="nav-item dropdown menu-large"><a class="nav-link dropdown-toggle" id="portfolioMegamenu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                        <ul class="dropdown-menu megamenu p-4" aria-labelledby="portfolioMegamenu">
                            <li>
                                <div class="row">
                                    <div class="col-lg-6"><img class="img-fluid d-none d-lg-block" src="img/template-homepage.png" alt=""></div>
                                    <div class="col-lg-3 col-md-6">
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Portfolio</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-2.html">2 columns</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-no-space-2.html">2 columns with negative space</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-3.html">3 columns</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-no-space-3.html">3 columns with negative space</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-4.html">4 columns</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-no-space-4.html">4 columns with negative space</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-detail.html">Portfolio - detail</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-detail-2.html">Portfolio - detail 2</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">About</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="about.html">About us</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="team.html">Our team</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="team-member.html">Team member</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="services.html">Services</a></li>
                                        </ul>
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Marketing</h5>
                                        <ul class="list-unstyled">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="packages.html">Packages</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- megamenu [all pages]-->
                    <li class="nav-item dropdown menu-large"><a class="nav-link dropdown-toggle active" id="allPagesMegamenu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">All pages</a>
                        <ul class="dropdown-menu megamenu p-4" aria-labelledby="allPagesMegamenu">
                            <li>
                                <div class="row">
                                    <div class="col-md-6 col-lg-3">
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Home</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="index.html">Option 1: Default Page </a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="index2.html">Option 2: Application </a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="index3.html">Option 3: Startup </a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="index4.html">Option 4: Agency </a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="index5.html">Option 5: Portfolio </a></li>
                                        </ul>
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">About</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="about.html">About us</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="team.html">Our team</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="team-member.html">Team member</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="services.html">Services</a></li>
                                        </ul>
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Marketing</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="packages.html">Packages</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Portfolio</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-2.html">2 columns</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-no-space-2.html">2 columns with negative space</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-3.html">3 columns</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-no-space-3.html">3 columns with negative space</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-4.html">4 columns</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-no-space-4.html">4 columns with negative space</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-detail.html">Portfolio - detail</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="portfolio-detail-2.html">Portfolio - detail 2</a></li>
                                        </ul>
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">User pages</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="customer-register.html">Register / login</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="customer-orders.html">Orders history</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="customer-order.html">Order history detail</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="customer-wishlist.html">Wishlist</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="customer-account.html">Customer account / change password</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Shop</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase active" href="health.html">Category - sidebar right</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="shop-category-left.html">Category - sidebar left</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="shop-category-full.html">Category - full width</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="shop-detail.html">Product detail</a></li>
                                        </ul>
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Shop - order process</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="shop-basket.html">Shopping cart</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="shop-checkout1.html">Checkout - step 1</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="shop-checkout2.html">Checkout - step 2</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="shop-checkout3.html"> Checkout - step 3</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="shop-checkout4.html">Checkout - step 4</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Contact</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="contact.html">Contact</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="contact2.html">Contact - version 2</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="contact3.html">Contact - version 3</a></li>
                                        </ul>
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Pages</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="text.html">Text page</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="text-left.html">Text page - left sidebar</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="text-full.html">Text page - full width</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="faq.html"> FAQ</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="404.html">404 page</a></li>
                                        </ul>
                                        <h5 class="text-dark text-uppercase pb-2 border-bottom">Blog</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="blog.html">Blog listing big</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="blog-medium.html">Blog listing medium</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="blog-small.html">Blog listing small</a></li>
                                            <li class="nav-item"><a class="nav-link-sub py-2 text-uppercase" href="blog-post.html">Blog Post</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- dropdown menu [contact]-->
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="contactMegamenu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contact</a>
                        <ul class="dropdown-menu dropdown-menu-end m-0" aria-labelledby="contactMegamenu">
                            <li><a class="dropdown-item text-uppercase border-bottom" href="contact.html">Contact option 1</a></li>
                            <li><a class="dropdown-item text-uppercase border-bottom" href="contact2.html">Contact option 2</a></li>
                            <li><a class="dropdown-item text-uppercase border-bottom" href="contact3.html">Contact option 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="/">근손실닷컴</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarColor01">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="/view/">Home-->
<!--                        <span class="visually-hidden">(current)</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" >Shop</a>-->
<!--                    <ul class="dropdown-menu" >-->
<!--                        <li><a class="dropdown-item" href="/view/health">헬스용품</a></li>-->
<!--                        <li><hr class="dropdown-divider"></li>-->
<!--                        <li><a class="dropdown-item" href="#!">덤밸</a></li>-->
<!--                    </ul>-->
<!--                </li>-->

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">PT예약</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <ul class="navbar-nav ms-md-auto">-->
<!--                <li class="nav-item">-->
<!--                    <a id="openUserForm" class="nav-link" ><i class="fa fa-github"></i> 회원가입</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a target="_blank" rel="noopener" class="nav-link" href="/view/login"><i class="fa fa-twitter"></i> 로그인</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <button class="btn btn-outline-dark" type="submit">-->
<!--                        <i class="bi-cart-fill me-1"></i>-->
<!--                        Cart-->
<!--                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>-->
<!--                    </button>-->

<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="modal fade" id="userFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLabel">회원가입</h5>-->

<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <form id="userForm" name="userForm">-->
<!--                        <div class="form-group">-->
<!--                            <div class="form-floating mb-3">-->
<!--                                <input type="text" class="form-control" id="userId" name="userId" placeholder="userId">-->
<!--                                <label for="userId">userId</label>-->
<!--                            </div>-->
<!--                            <div class="form-floating mb-3">-->
<!--                                <input type="text" class="form-control" id="name" name="name" placeholder="백창훈">-->
<!--                                <label for="name">Name</label>-->
<!--                            </div>-->
<!--                            <div class="form-floating">-->
<!--                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">-->
<!--                                <label for="password">Password</label>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button id="submit" type="button" class="btn btn-primary">Submit</button>-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

</html>