<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<script>
    function initNavigator(){
        $("#btnLogin").click(function (){login();});
        $("#btnSignUp").click(function (){signUp();});
        $(document).on("click","#btnLogout" , function (){logout()});

    }

    function logout(){
        console.log("logout()")
        $.ajax({
            type: 'post'
            , async: true
            , url: '/user-service/removeToken'
            ,dataType : "text"
            , beforeSend: function(xhr) {
                xhr.setRequestHeader("Content-type","application/json; charset=utf-8");
            }
            , success: function (ajaxData, status, request) {
                console.log(ajaxData)
                console.log(status)
                console.log(request)
            }
            , error: function(request, status, err) {
                console.log(status,request,err);

            }
            , complete: function(request, status) {

            }
        });
    }

    function login() {
        let userData = {
            userId:$("#loginForm [name='userId']").val(),
            password:$("#loginForm [name='password']").val(),
        };

        $.ajax({
            type: 'post'
            , async: true
            , url: '/user-service/login'
            , data: JSON.stringify(userData)//JSON.stringify()로 데이터를 감싸줍니다.
            ,dataType : "text"
            , beforeSend: function(xhr) {
                xhr.setRequestHeader("Content-type","application/json; charset=utf-8");
            }
            , success: function (ajaxData, status, request) {
                console.log(ajaxData)
                console.log(status)
                console.log(request)
                alert("로그인 성공");
            }
            , error: function(request, status, err) {
                alert("로그인 실패");
                console.log(status,request,err);

            }
            , complete: function(request, status) {

            }
        });
    }

    function changeNav() {
        console.log(userInfo)
        let html =
            '<li class="list-inline-item">' +
            '<a class="text-xs text-uppercase fw-bold text-reset" href="#" >' +
                '<i class="fas fa-door-open me-2"></i>' +
                '<span class="d-none d-md-inline-block">'+userInfo.userId+'</span>' +
                '</a>' +
            '</li>'+
            '<li class="list-inline-item">' +
            '<a id="btnLogout" class="text-xs text-uppercase fw-bold text-reset" href="#" >' +
            '<i class="fas fa-door-open me-2"></i>' +
            '<span class="d-none d-md-inline-block">Log out</span>' +
            '</a>' +
            '</li>';
        $("#infoDiv").html(html);

    }

    function signUp() {
        let userData = {
            userId:$("#registerUserForm [name='userId']").val(),
            name:$("#registerUserForm [name='name']").val(),
            password:$("#registerUserForm [name='password']").val(),
        };

        $.ajax({
            type: 'post'
            , async: true
            , url: '/user-service/users'
            , data: JSON.stringify(userData)//JSON.stringify()로 데이터를 감싸줍니다.
            ,dataType : "json"
            ,contentType: "application/json; charset=utf-8"
            , beforeSend: function() {
            }
            , success: function (ajaxData, status, request) {
                alert("가입되었습니다.");

                console.log(ajaxData);
            }
            , error: function(request, status, err) {
                console.log(status,request,err);

            }
            , complete: function(request, status) {

            }
        });
    }
</script>

<div class="top-bar py-2" id="topBar" style="background: #555">
    <div class="container px-lg-0 text-light py-1">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 d-md-block d-none">
                <p class="mb-0 text-xs">Contact us on +420 777 555 333 or hello@universal.com.</p>
            </div>
            <div class="col-md-6">
                <div id="infoDiv" class="d-flex justify-content-md-end justify-content-between">
                    <ul class="list-inline d-block d-md-none mb-0">
                        <li class="list-inline-item"><a class="text-xs" href="#"><i class="fa fa-phone"></i></a></li>
                        <li class="list-inline-item"><a class="text-xs" href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a class="text-xs text-uppercase fw-bold text-reset" href="#" data-bs-toggle="modal" data-bs-target="#login-modal"><i class="fas fa-door-open me-2"></i><span class="d-none d-md-inline-block">Sign In</span></a></li>
                        <li class="list-inline-item"><a class="text-xs text-uppercase fw-bold text-reset" href="#" data-bs-toggle="modal" data-bs-target="#register-modal"><i class="fas fa-user me-2"></i><span class="d-none d-md-inline-block">Sign Up</span></a></li>
                    </ul>
                    <ul class="list-inline mb-0 ms-lg-4">
                        <li class="list-inline-item text-gray-600 m-0"><a class="text-xs social-link-hover" href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item text-gray-600 m-0"><a class="text-xs social-link-hover" href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item text-gray-600 m-0"><a class="text-xs social-link-hover" href="#" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="list-inline-item text-gray-600 m-0"><a class="text-xs social-link-hover" href="#" title="Email"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top bar end-->
<!-- Login Modal-->
<div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase" id="login-modalLabel">Customer Login</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="loginForm" name="loginForm">
                    <div class="form-group mb-3">
                        <input class="form-control" name="userId" type="text" placeholder="ID">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" name="password" type="password" placeholder="Password">
                    </div>
                    <p class="text-center">
                        <button type="button" class="btn btn-outline-primary" id="btnLogin"><i class="fas fa-door-open"></i> Log in</button>
                    </p>
                </form>

                <p class="text-center text-muted small">Not registered yet?</p>
                <p class="text-center text-muted small"><a href="customer-register.html"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
            </div>
        </div>
    </div>
</div>
<!-- Login modal end-->
<!-- register Modal-->
<div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="register-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase" id="register-modalLabel">회원가입</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="registerUserForm" name="registerUserForm">
                    <div class="form-group mb-3">
                        <input class="form-control" name="userId" type="text" placeholder="user id">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" name="name" type="text" placeholder="name">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" name="password" type="password" placeholder="password">
                    </div>
                    <p class="text-center">
                        <button type="button" class="btn btn-outline-primary" id="btnSignUp"><i class="fas fa-door-open"></i> 회원가입</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- register modal end-->
</html>