<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>index</title>

    <th:block th:replace="fragments/bootstrap5"></th:block>


</head>
<body>
<th:block th:replace="fragments/header"></th:block>

<main>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" th:src="@{images/logo.png}" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">근손실닷컴</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">관심있는 상품 검색</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <form id='stockForm' class="d-flex">
                    <input id="shrIpt" class="form-control me-2 awesomplete" type="search" placeholder="검색어를 입력하세요" aria-label="Search">
                    <button id="shrBtn" class="btn btn-outline-success" type="submit">Q</button>
                </form>
            </div>
        </div>
    </div>
</main>
<th:block th:replace ="fragments/footer"></th:block>


</body>
</html>